* {
  background-color: Black;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  color: white;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 16px;
  color: Aquamarine;
  text-align: center;
}
